html, body {
    background-color: #21232A;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    padding: 20px;
    color: aliceblue;
}

button {
    padding: 15px;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 7px;
    margin: 10px;
}